.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
}

.todolist-table-button-wrap {
  display: inline;
}

.todolist-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.todolist-toggle {
  margin-left: 10px;
}
