@import url('./theme.css');
@import url('./reset.css');
@import url('./todolist/layout.css');
@import url('./todolist/buttons.css');
@import url('./todolist/forms.css');
@import url('./todolist/table.css');
@import url('./todolist/modal.css');
@import url('./todolist/input.css');

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
